/*
 * Copyright 2019 Abakkk
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * SPDX-FileCopyrightText: 2019 Abakkk
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

:root {
    --windowControlsBoxWidth: 114px !important; /* adjust according to your window-controls box size (it depends on your GTK theme, 104px is good for Adwaita, 114px for Terril) */
    --navbar-icon-size: 15px !important; /* only for "compact" density, 16 in Firefox by default */
    --tab-min-height: 31px !important; /* comment to use default: compact/normal/touch = 29/33/41 px */
    --navbar-height: 44px !important;
    --urlbar-height: 28px !important;
    --margin-between-nav-and-tab: 3px !important;
    --margin-between-nav-and-personal: 0px !important;
    --margin-between-personal-and-tab: 4px !important;
    --margin-between-tab-and-content: 0px !important; /* with 1px you have a small border between tab bar and web content */
    --tabs-border: transparent !important;
    --toolbar-bgcolor: #2f2f2f !important;
    --toolbar-bgimage: none !important;
    --toolbar-color: #dadada !important;
    --bgcolor-lighter: #505050 !important; /* focused tab background color */
    --bgcolor-darker: #404040 !important; /* unfocused tab background color */
    --bgcolor-url: var(--bgcolor-darker) !important;
    --color-da: #dadada !important;
    --color-da-04: rgba(218, 218, 218, 0.4) !important;
    --color-da-02: rgba(218, 218, 218, 0.2) !important;
    --color-green: #8fa876 !important;
    --color-blue: #45A1FF !important;
    --color-white: #ffffff !important;
    --color-black: #2f2f2f !important;
    --color-tab-border: var(--toolbar-bgcolor) !important;
    --lwt-toolbarbutton-icon-fill: var(--toolbar-color) !important;
    --toolbarbutton-icon-fill-opacity: 0.85 !important;
}

/* https://www.userchrome.org/samples/userChrome-tabs_on_bottom.css */
/* https://www.userchrome.org/what-is-userchrome-css.html#movetabbar */
/* Github: https://github.com/aris-t2/customcssforfx */
/* https://github.com/Aris-t2/CustomCSSforFx/blob/master/classic/css/tabs/tabs_below_navigation_toolbar.css */
/* https://github.com/Aris-t2/CustomCSSforFx/blob/master/classic/css/tabs/tabs_below_navigation_toolbar_fx65.css */


/* toolbar order */

#print-preview-toolbar,
#printedit-toolbar,
#titlebar {
  -moz-box-ordinal-group: 0 !important;
}
#navigator-toolbox #toolbar-menubar {
  -moz-box-ordinal-group: 1 !important;
}
/* navigation toolbar */
#navigator-toolbox #nav-bar {
  -moz-box-ordinal-group: 2 !important;
}
/* bookmarks toolbar */
#navigator-toolbox #PersonalToolbar {
  -moz-box-ordinal-group: 3 !important;
}
/* 3rd party toolbars */
#navigator-toolbox toolbar {
  -moz-box-ordinal-group: 10 !important;
}
/* tabs toolbar */
#navigator-toolbox #TabsToolbar {
  -moz-box-ordinal-group: 100 !important;
}

/* disable Mozillas tab jumping nonsense when moving tabs */
#navigator-toolbox[movingtab] > #titlebar > #TabsToolbar {
  padding-bottom: unset !important;
}
#navigator-toolbox[movingtab] #tabbrowser-tabs {
  padding-bottom: unset !important;
  margin-bottom: unset !important;
}
#navigator-toolbox[movingtab] > #nav-bar {
  margin-top: unset !important;
}

/* hide titlebar (#navigator-toolbox) and decrease navbar width to left space to window controls */

#navigator-toolbox {
    background-color: var(--toolbar-bgcolor) !important;
    color: var(--toolbar-color) !important;
    font-weight: 500 !important;
    padding-bottom: calc(var(--tab-min-height) + var(--margin-between-nav-and-tab)) !important;
}

#titlebar {
    background-color: var(--toolbar-bgcolor) !important;
    color: var(--toolbar-color) !important;
    margin-bottom: calc(-1*var(--navbar-height)) !important;
    height: var(--navbar-height) !important;
}

.titlebar-buttonbox {
    margin-right: 4px !important;
    margin-top: 1px !important;
}

#nav-bar {
    height: var(--navbar-height) !important;
}

#main-window[tabsintitlebar="true"] #nav-bar {
    margin-right: var(--windowControlsBoxWidth) !important;
}

#main-window[tabsintitlebar="true"] #nav-bar #PanelUI-menu-button .toolbarbutton-badge-stack {
    border-right: 1px solid var(--color-da-02) !important;
    border-radius: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#main-window[tabsintitlebar="true"] #nav-bar:not([overflowing="true"]) #PanelUI-menu-button .toolbarbutton-badge-stack {
    padding-right: calc(3*var(--toolbarbutton-inner-padding)) !important;
    margin-right: var(--toolbarbutton-inner-padding) !important;
}

#TabsToolbar {
    position: absolute !important;
    bottom: 0 !important;
    margin-bottom: calc(-1px + var(--margin-between-tab-and-content)) !important;
}

#TabsToolbar .titlebar-buttonbox-container {
    display: none !important;
}

#tabbrowser-tabs {
    width: 100vw !important;
}

#toolbar-menubar {
    height: var(--navbar-height) !important;
}

#toolbar-menubar #menubar-items {
    padding-top: calc((var(--navbar-height) - 28px)/2) !important;
}

#toolbar-menubar:not([inactive="true"]) {
    margin-bottom: var(--navbar-height) !important;
}

#toolbar-menubar, #toolbar-menubar menu, #toolbar-menubar menupopup {
    background-color: var(--toolbar-bgcolor) !important;
    color: var(--toolbar-color) !important;
}

#PersonalToolbar {
    background-color: var(--toolbar-bgcolor) !important;
    margin-top: var(--margin-between-nav-and-personal) !important;
    margin-bottom: var(--margin-between-personal-and-tab) !important;
}

/* fullscreen */

#window-controls {
    display: none !important;
}

:root[inFullscreen] #toolbar-menubar .titlebar-buttonbox-container {
    display: -moz-box !important;
}

/* private browsing session logo */

#TabsToolbar .private-browsing-indicator {
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    height: 20px !important;
    width: 20px!important;
    margin-bottom: 8px !important;
    margin-right: 2px !important;
}

/* remove some borders */

#urlbar, .searchbar-textbox { border:0px !important; }
#navigator-toolbox::after { border:0px !important; }
#navigator-toolbox {
    --tabs-border-color: transparent !important;
}

/* tabs */

.tabbrowser-tab::after, .tabbrowser-tab::before { border-left:0px !important;}
.tabbrowser-tab, .titlebar-placeholder {
    border-left: 1px solid var(--color-tab-border) !important;
    border-right: 1px solid var(--color-tab-border) !important;
    border-top: 1px solid var(--color-tab-border) !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
.titlebar-spacer[type="pre-tabs"] {
    border-inline-end: none !important; /* remove small border before first tab */
}
#main-window:not([sizemode="normal"]) .titlebar-spacer[type="post-tabs"] {
    width: 20px !important; /* 40 when window is not fullscreen */
}

.tab-background {
    display: none !important;
}

#tabbrowser-tabs .tabbrowser-tab:not(:hover) .tab-close-button { display: none !important; } /* remove close button when tab is not hovered */
.tab-close-button {
    margin-top: 0px !important;
    padding-top: 0 !important;
    padding-bottom:0 !important;
}

.tabbrowser-tab {
    font-weight: 600 !important;
}

.tabbrowser-tab:not([visuallyselected="true"]):hover { color: var(--color-da) !important; }

.tabbrowser-tab[visuallyselected="true"] {
    background-color: var(--bgcolor-lighter) !important;
    color: var(--color-da) !important;
    z-index: 0 !important;
}

.tabbrowser-tab:not([visuallyselected="true"]) {
    background-color: var(--bgcolor-darker) !important;
    color: var(--color-da-04) !important;
}

#TabsToolbar:not(:-moz-lwtheme), #TabsToolbar:-moz-lwtheme {
    color: var(--toolbar-color) !important;
}

/* reduce icon size in 'compact' density */

:root[uidensity="compact"] #nav-bar .toolbarbutton-1 > .toolbarbutton-icon {
    height: calc(2 * var(--toolbarbutton-inner-padding) + var(--navbar-icon-size)) !important;
    width: calc(2 * var(--toolbarbutton-inner-padding) + var(--navbar-icon-size)) !important;
}
:root[uidensity="compact"] #nav-bar .toolbarbutton-1 > .toolbarbutton-badge-stack > .toolbarbutton-icon {
	width: var(--navbar-icon-size) !important;
}
:root[uidensity="compact"] #nav-bar .webextension-browser-action > .toolbarbutton-badge-stack > .toolbarbutton-icon {
	height: var(--navbar-icon-size) !important;
	width: var(--navbar-icon-size) !important;
}
:root[uidensity="compact"] .urlbar-icon {
	width: calc(var(--navbar-icon-size) + 2 * var(--urlbar-icon-padding)) !important;
	height: calc(var(--navbar-icon-size) + 2 * var(--urlbar-icon-padding)) !important;
}
:root[uidensity="compact"] #sharing-icon, :root[uidensity="compact"] #identity-icon, :root[uidensity="compact"] #tracking-protection-icon, :root[uidensity="compact"] #connection-icon, :root[uidensity="compact"] .notification-anchor-icon, :root[uidensity="compact"] #blocked-permissions-container > .blocked-permission-icon, :root[uidensity="compact"] #extension-icon {
	width: var(--navbar-icon-size) !important;
	height: var(--navbar-icon-size) !important;
}

/* change behaviour on hovered */

#PersonalToolbar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover,
.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled=true]):hover,
.tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled=true]):hover,
.findbar-button:not(:-moz-any([checked="true"],[disabled="true"])):hover > .toolbarbutton-text,
toolbarbutton.bookmark-item:not(.subviewbutton):hover:not([disabled="true"]):not([open]),
toolbar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-text,
toolbar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack {
  background-color: transparent !important;
}

#PersonalToolbar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active),
.findbar-button:not([disabled=true]):-moz-any([checked="true"],:hover:active) > .toolbarbutton-text,
toolbarbutton.bookmark-item:not(.subviewbutton):hover:active:not([disabled="true"]),
toolbarbutton.bookmark-item[open="true"],
toolbar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-text,
toolbar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-badge-stack {
  background-color: transparent !important;
}

toolbar .toolbarbutton-1[checked]:not(:active):hover > .toolbarbutton-icon {
  background-color: transparent !important;
  /*transition: background-color .4s;*/
}

toolbarbutton:not(.close-icon):not([disabled=true]):not([checked]):not([open]):not(:active):hover { fill-opacity:1 !important; fill: var(--color-white) !important;}
toolbarbutton:not(.close-icon):not([disabled=true]):-moz-any([checked="true"],[open],[checked],:active) { fill-opacity:1 !important; fill: var(--color-white) !important;}

toolbarbutton:not([disabled=true]):not([checked]):not([open]):not(:active):hover { color: var(--color-white) !important;}
toolbarbutton:not([disabled=true]):-moz-any([checked="true"],[open],[checked],:active) { color: var(--color-blue) !important;}

/*urlbar*/

#urlbar {
    background-color: var(--bgcolor-url) !important;
    color: var(--toolbar-color) !important;
    height: var(--urlbar-height) !important;
    font-weight: bold !important;
}
#urlbar[focused="true"] {
    background-color: var(--color-green) !important;
    color: var(--color-black) !important;
}

.urlbar-icon:not([disabled]):not([checked]):not([open]):not(:active):hover,
.urlbar-icon-wrapper:not([disabled]):not([checked]):not([open]):not(:active):hover {
  background-color: transparent !important;
  color: var(--color-white) !important;
  fill-opacity:1 !important;
}


.urlbar-icon:not([disabled]):-moz-any([checked="true"],[open],[checked],:active),
.urlbar-icon-wrapper:not([disabled]):-moz-any([checked="true"],[open],[checked],:active) {
  background-color: transparent !important;
  color: var(--color-blue) !important;
  fill-opacity:1 !important;
}

/*identity box*/

#identity-box:hover:not(.no-hover):not([open=true]) {
  background-color: transparent !important;
}

#identity-box:hover:active:not(.no-hover),
#identity-box[open=true] {
  background-color: transparent !important;
}

#identity-box:hover:not(.no-hover):not([open=true]):not([open]):not(:active) > #identity-icon {
  color: var(--color-white) !important;
  fill-opacity:1 !important;
}

#identity-box:active > #identity-icon {
  color: var(--color-blue) !important;
  fill-opacity:1 !important;
}
#identity-box:hover:active:not(.no-hover),
#identity-box[open=true] {
  color: var(--color-blue) !important;
  fill-opacity:1 !important;
}
#identity-box:-moz-focusring:not(:active) {
  outline: none !important;
}

/* customize page */

#main-window:not(:-moz-lwtheme) #customization-container {
    background-color: var(--bgcolor-lighter) !important;
    background-image: none !important;
    color: var(--toolbar-color) !important;
}

#main-window:not(:-moz-lwtheme) #customization-container .panel-arrowcontent {
    background-color: var(--bgcolor-darker) !important;
    color: var(--toolbar-color) !important;
}

#main-window:-moz-lwtheme[lwthemetextcolor="dark"] #customization-container {
    background-color: rgb(245, 246, 247) !important;
}

