/*
 * Copyright 2019 Abakkk
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * SPDX-FileCopyrightText: 2019 Abakkk
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@import "gnome-shell-base.css";

/* Popovers/Menus */

.popup-menu-boxpointer,
.candidate-popup-boxpointer {
  -arrow-background-color: rgba(60,60,60,0.85); /* popup background */
  -arrow-border-width: 0px;
}
.popup-separator-menu-item {
  border-color: transparent;
}

/* TOP BAR */

#panel {
    /*background-color: rgba(47,47,47,1); /* topbar background */
    background: transparent;
}

#panel .panel-button {
  -natural-hpadding: 2px;
  -minimum-hpadding: 0px;
}

#panel .panel-button .system-status-icon {
  padding: 1px;
}

#panel .panel-button.clock-display .clock {
  padding: 2px 3px 0px 3px;
}

#panel .panel-button:active, #panel .panel-button.clock-display:active .clock,
#panel .panel-button:checked, #panel .panel-button.clock-display:checked .clock,
#panel .panel-button:focus, #panel .panel-button.clock-display:focus .clock,
#panel .panel-button:hover, #panel .panel-button.clock-display:hover .clock,
#panel .panel-button:overview, #panel .panel-button.clock-display:overview .clock {
  color: #fff;
  box-shadow: none;
}

.workspace-background {
  box-shadow: none;
}

.search-section-content {
  border: none;
}

/*  
#2f2f2f : rgb(47, 47, 47)
#383838 : rgb(56, 56, 56)
#404040 : rgb(63, 63, 63)
#8fa876 : rgb(143, 168, 118)
#215d9c : rgb(33, 93, 156)
*/
