/*
 * Copyright 2019 Abakkk
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * SPDX-FileCopyrightText: 2019 Abakkk
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

:root { 
    --tabs-border: transparent !important;
    --toolbar-bgcolor: #404040 !important;
    --toolbar-bgimage: none !important;
    --toolbar-color: #dadada !important;
    --bgcolor-titlebar: #2f2f2f !important;
    --bgcolor-url: #333333 !important;
    --color-da: #dadada !important;
    --color-da-04: rgba(218, 218, 218, 0.4) !important;
    --color-da-02: rgba(218, 218, 218, 0.2) !important;
    --color-green: #8fa876 !important;
    --color-blue: #45A1FF !important;
    --color-white: #ffffff !important;
}

#nav-bar { min-height: 47px !important;}
#urlbar { min-height: 33px !important;}
#TabsToolbar { min-height: 33px !important; border: none !important;}

#navigator-toolbox { font-weight: 500 !important; }

#navigator-toolbox, #titlebar, #titlebar-content {
    background-color: var(--bgcolor-titlebar) !important;
    color: var(--toolbar-color) !important;
}

/* remove some borders */

#urlbar, .searchbar-textbox { border:0px !important; }
#TabsToolbar:not([collapsed="true"]) + #nav-bar { border:0px !important; }
#navigator-toolbox::after { border:0px !important; }
#navigator-toolbox {
    --tabs-border-color: transparent !important;
}

/* tabs */

.tabbrowser-tab {
  border-radius: 4px 4px 0px 0px !important;
}

.tab-background, .tab-line {
    display: none !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before { border-left:0px !important;}

#tabbrowser-tabs .tabbrowser-tab:not(:hover) .tab-close-button { display:none!important; }

.tabbrowser-tab { font-weight: 600 !important; }

.tabbrowser-tab:not([visuallyselected="true"]):hover { background-color: transparent !important; }

.tabbrowser-tab:not([visuallyselected="true"]):hover { color: var(--color-da) !important; }

.tabbrowser-tab[visuallyselected="true"] { background-color: var(--toolbar-bgcolor) !important; }
.tabbrowser-tab[visuallyselected="true"] { color: var(--color-da) !important; }

.tabbrowser-tab:not([visuallyselected="true"]) {
    color: var(--color-da-04) !important;
}

.tabbrowser-tab[visuallyselected="true"] { z-index: 0 !important; }

.tabbrowser-tab[visuallyselected="true"] { border-bottom:1px solid var(--toolbar-bgcolor) !important; }

/* change behaviour on hovered */

#PersonalToolbar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover,
.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled=true]):hover,
.tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled=true]):hover,
.findbar-button:not(:-moz-any([checked="true"],[disabled="true"])):hover > .toolbarbutton-text,
toolbarbutton.bookmark-item:not(.subviewbutton):hover:not([disabled="true"]):not([open]),
toolbar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-text,
toolbar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack {
  background-color: transparent !important;
}

#PersonalToolbar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active),
.findbar-button:not([disabled=true]):-moz-any([checked="true"],:hover:active) > .toolbarbutton-text,
toolbarbutton.bookmark-item:not(.subviewbutton):hover:active:not([disabled="true"]),
toolbarbutton.bookmark-item[open="true"],
toolbar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-text,
toolbar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-badge-stack {
  background-color: transparent !important;
}

toolbar .toolbarbutton-1[checked]:not(:active):hover > .toolbarbutton-icon {
  background-color: transparent !important;
  /*transition: background-color .4s;*/
}

toolbarbutton:not(.close-icon):not([disabled=true]):not([checked]):not([open]):not(:active):hover { fill-opacity:1 !important;}
toolbarbutton:not(.close-icon):not([disabled=true]):-moz-any([checked="true"],[open],[checked],:active) { fill-opacity:1 !important;}

toolbarbutton:not([disabled=true]):not([checked]):not([open]):not(:active):hover { color: var(--color-white) !important;}
toolbarbutton:not([disabled=true]):-moz-any([checked="true"],[open],[checked],:active) { color: var(--color-blue) !important;}

/*urlbar*/

#urlbar {
  background-color: var(--bgcolor-url) !important;
  color: var(--toolbar-color) !important;
  font-weight: bold !important;
}

.urlbar-icon:not([disabled]):not([checked]):not([open]):not(:active):hover,
.urlbar-icon-wrapper:not([disabled]):not([checked]):not([open]):not(:active):hover {
  background-color: transparent !important;
  color: var(--color-white) !important;
  fill-opacity:1 !important;
}


.urlbar-icon:not([disabled]):-moz-any([checked="true"],[open],[checked],:active),
.urlbar-icon-wrapper:not([disabled]):-moz-any([checked="true"],[open],[checked],:active) {
  background-color: transparent !important;
  color: var(--color-blue) !important;
  fill-opacity:1 !important;
}

/*identity box*/

#identity-box:hover:not(.no-hover):not([open=true]) {
  background-color: transparent !important;
}

#identity-box:hover:active:not(.no-hover),
#identity-box[open=true] {
  background-color: transparent !important;
}

#identity-box:hover:not(.no-hover):not([open=true]):not([open]):not(:active) > #identity-icon {
  color: var(--color-white) !important;
  fill-opacity:1 !important;
}

#identity-box:active > #identity-icon {
  color: var(--color-blue) !important;
  fill-opacity:1 !important;
}
#identity-box:hover:active:not(.no-hover),
#identity-box[open=true] {
  color: var(--color-blue) !important;
  fill-opacity:1 !important;
}
#identity-box:-moz-focusring:not(:active) {
  outline: none !important;
}

/* customize page */

#main-window:-moz-lwtheme[lwthemetextcolor="dark"] #customization-container {
    background-color: rgb(245, 246, 247) !important;
}

