/*
 * Copyright 2019 Abakkk
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * SPDX-FileCopyrightText: 2019 Abakkk
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* to put in ~/.mozilla/firefox/your_profile/chrome/userContent.css (create the folder if it doesn't exist) */
/* or by using stylus extension, removing "@moz-document ... {" and "}" in code, and placing regex in style config */
/* regex doesn't work well in userContent.css: "https://browse.startpage.com/..." url (proxy) are not excluded */

@-moz-document regexp("^https?://((?!browse).)*startpage.com(.)*$") {

/* You can hide the box at the right of the page, under wikipedia box, that provide something like
"do startpage your start page" and "add startpage to your browser" by uncommenting the following lines. */
/*.promotion {
    visibility: hidden;
}*/

:root { 
    --bg-color1: #505050; /*404040*/
    --bg-color2: #333;
    --txt-color:  /*#dadada*/#eeeeec;
}

* { border: none !important; }

.main, .columns, .footer, .search-options__bar, .hero-search {
    background: var(--bg-color1) !important;
}
.header, .dropdown__content {
    background: var(--bg-color1) !important;
}
body {
    color: var(--txt-color) !important;   
}

/* in image results */
.image-result__overlay {
    background: var(--bg-color2) !important;
}

.search-options__category:active::before, .search-options__category:focus::before, .search-options__category:hover::before, .search-options__list-item--active .search-options__category::before, .search-options__list-item .button--flat:active::before, .search-options__list-item .button--flat:focus::before, .search-options__list-item .button--flat:hover::before {
    border-bottom: 2px solid #5af !important;
}

button, span, .search-options__filter-link, .footer__links a {
    color: var(--txt-color) !important; }
.search-item__title a { color: #5af !important; }
.search-item__title a:visited { color: #f5e !important; }
.search-item__title a:hover { text-decoration: underline !important; }
.search-item__sub-title span { color: #7F869F !important; }
.search-result__proxy-links-item { color: #7b4 !important; }
.search-item__body { color: var(--txt-color) !important; }

.spell-suggestion, .search-suggestion, .search-suggestions__list, .search-suggestions__item, .dropdown__content {
    background: var(--bg-color2) !important;
    box-shadow: 0 2px 4px var(--bg-color2) !important;
    color: #5af !important;
}   

/********* HEADER **********/

.header__logo img {
    display:none !important; /* hide startpage logo */
    }
.header__logo:after {
    content: "Goolag" !important;
    color: var(--txt-color) !important;
    font-size: 37px !important;
    font-weight: bold !important;
    font-family: Product Sans !important;
}
.header__logo {
    text-decoration: none !important;
}
.search-form__input {
    background-color: var(--bg-color2) !important;
    color: var(--txt-color) !important;
}
.header .search-form__button {
    background-color: #5af !important;
}
.search-form {
    box-shadow: 0 2px 4px var(--bg-color2) !important;
}
nav.burger-menu[aria-expanded="false"] .burger-menu__links a, .header-search__navigation-left.navigation-links a {
    color: var(--txt-color) !important;
    font-weight: bold !important;
}

/* sidebar */

.column--sidebar section {
    background-color: var(--bg-color2) !important;
    box-shadow: 0 2px 4px var(--bg-color2) !important;
}

.promotion__title {
    color: #5af !important;
}
.promotion__body {
    color: #7F869F !important;
}
.promotion .button {
    background-color: var(--bg-color1) !important;
    box-shadow: 0 2px 4px var(--bg-color1) !important;
    color: var(--txt-color) !important;
}

/* settings & advanced search */

.select__input {
    background-color: var(--bg-color2) !important;
    border: none;
}
.select__custom-element, .text-input__element, select {
    background-color: var(--bg-color2) !important;
    border: none;
    box-shadow: 0 2px 4px var(--bg-color2) !important;
    color: var(--txt-color) !important;
}
.main[data-view="None"] h1 {
    color: var(--txt-color) !important;
}
.main[data-view="None"], .main[data-view="None"] .select__label, .label {
    color: rgb(163, 177, 255) !important;
}
.settings-page__form-action {
    background-color: var(--bg-color1) !important;
}
.card {
    background-color: var(--bg-color2) !important;
    box-shadow: 0 2px 4px var(--bg-color2) !important;
}

}

