/*
 * Copyright 2019 Abakkk
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * SPDX-FileCopyrightText: 2019 Abakkk
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* terril overrides */

notebook > header > tabs > arrow, windowcontrols button,
button
{ border-radius: 4px; }

windowcontrols.start:not(.empty):dir(ltr),
windowcontrols.end:not(.empty):dir(rtl)
{ margin-right: 0px; }

windowcontrols.start:not(.empty):dir(rtl),
windowcontrols.end:not(.empty):dir(ltr)
{ margin-left: 0px; }

notebook > header > tabs > arrow.text-button,
button.text-button
{ padding-left: 10px; padding-right: 10px; }

notebook > header > tabs > arrow:backdrop:active,
notebook > header > tabs > arrow:backdrop:checked,
button.flat:backdrop:active,
button.flat:backdrop:checked,
button:backdrop:active,
button:backdrop:checked,
notebook > header > tabs > arrow:active,
notebook > header > tabs > arrow:checked,
button.flat:active,
button.flat:checked,
button:active,
button:checked,
notebook > header > tabs > arrow:hover:active,
notebook > header > tabs > arrow:hover:checked,
button.flat:hover:active,
button.flat:hover:checked,
button:hover:active,
button:hover:checked
{ background: $selected_bg_color; color: $selected_fg_color; }

notebook > header > tabs > arrow:disabled:checked,
button.flat:disabled:checked,
button:disabled:checked
{ background: $_insensitive_selected_bg_color; color: $_dim_fg_color; }

notebook > header > tabs > arrow:hover,
button.flat:hover,
button:hover,
{ background: $_hover_bg_color; color: $_hover_fg_color; }

popover.menu box.circular-buttons button.circular.image-button.model:hover,
list > row button.image-button:not(.flat):hover
{ background: $_hover_bg_color; color: $_hover_fg_color; }

popover.menu modelbutton:selected:active
{ background-color: $menu_selected_color; }

spinbutton:not(.vertical) > button.image-button.up:not(.flat):hover,
spinbutton:not(.vertical) > button.image-button.down:not(.flat):hover,
{ background: $_hover_bg_color; color: $_hover_fg_color; }

switch:hover > slider,
scale > trough > slider:hover
{ background: image(lighten($_hover_bg_color, 5%)); }

.navigation-sidebar > row:hover
{ background: $_hover_bg_color; color: $_hover_fg_color; }

.navigation-sidebar > row:selected,
stacksidebar row:selected
{ background: $selected_bg_color; color: $selected_fg_color; }

.navigation-sidebar > row:selected:hover,
stacksidebar row:selected:hover:dir(ltr),
stacksidebar row:selected:hover:dir(rtl),
{ background: $selected_bg_color; color: $selected_fg_color; }

headerbar,
.titlebar:not(headerbar)
{ font-weight: bold; background: #2f2f2f; border-color: #2f2f2f; }

headerbar progressbar > trough, headerbar scale > trough > fill, headerbar scale > trough
{ background-color: $bg_color; }

windowcontrols button:hover
{ background: none; color: $_hover_fg_color; }

stackswitcher > button:not(:checked),
%titlebar stackswitcher > button:not(:checked),
headerbar stackswitcher > button:not(:checked),
{ color: $_dim_fg_color; }

stackswitcher > button:checked,
%titlebar stackswitcher > button:checked,
headerbar stackswitcher > button:checked,
%titlebar button.toggle:checked,
headerbar button.toggle:checked
{ background: $selected_bg_color; color: $selected_fg_color; }

stackswitcher > button:hover:not(:checked),
%titlebar stackswitcher > button:hover:not(:checked),
headerbar stackswitcher > button:hover:not(:checked),
%titlebar button.toggle:hover:not(:checked),
headerbar button.toggle:hover:not(:checked)
{ background: $_hover_bg_color; color: $_hover_fg_color; }

stackswitcher > button.text-button
{ min-width: 80px; }

notebook > header
{ background: transparent; }

notebook > header.top > tabs > tab:hover:not(:checked) { box-shadow: inset 0 -4px $_hover_fg_color; }
notebook > header.bottom > tabs > tab:hover:not(:checked) { box-shadow: inset 0 4px $_hover_fg_color; }
notebook > header.left > tabs > tab:hover:not(:checked) { box-shadow: inset -4px 0 $_hover_fg_color; }
notebook > header.right > tabs > tab:hover:not(:checked) { box-shadow: inset 4px 0 $_hover_fg_color; }

notebook > header > tabs > tab:hover,
notebook > header > tabs > tab.reorderable-page:hover,
notebook > header > tabs > tab.reorderable-page:checked,
notebook > header > tabs > tab.reorderable-page:checked:hover
{ background: $_hover_bg_color; color: $_hover_fg_color; }
