$variant: 'dark';
$contrast: 'normal';

@import 'colors-terril';
@import 'Default/drawing';
@import 'Default/common';
@import 'common-terril';
@import 'Default/colors-public';
@import 'colors-public-terril';

$high_contrast: false;
@import 'Adwaita/Adwaita-base';
